@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自定义代码块样式 */
.prose pre {
  background-color: #f6f8fa; /* GitHub 风格背景 */
  border: 1px solid #d1d5da; /* 边框颜色 */
  border-radius: 0.5rem; /* 圆角 */
  padding: 1rem; /* 内边距 */
  overflow-x: auto; /* 横向滚动 */
}



/* 行内代码样式 */
.prose code {
  background-color: #f6f8fa; /* 浅灰色背景 */
  color: #24292e; /* GitHub 默认字体颜色 */
  padding: 0.2rem 0.4rem; /* 内边距 */
  border-radius: 0.3rem; /* 圆角 */
}

.prose .toc a {
  @apply text-blue-500 hover:text-blue-700;
}

.prose .toc ul {
  @apply list-disc pl-6;
}

.prose .toc li {
  @apply mb-2;
}
